#logo {
    width: 103px;
    height: 29px;
}

header {
    display: flex;
    height: 54px;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-color: #DBDBDB;
    background-color: #FFFFFF;
}

#central-header {
    width: 935px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ion-icon {
    padding: 10px;
    border-radius: 100%;
}

#container {
    width: 935px;
    display: flex;
    justify-content: center;
    font-family: Encode Sans
}


#publicacaobotao button {
    border: none;
    background-color: white;
    color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

button {
    border: none;
    background-color: none;
}


#sidebar {
    width: 193px;
}

nav {
    display: flex;
    overflow-y: scroll;
}

nav img {
    border-radius: 40%;
}

@media (max-width: 935px) {
    /*Sem side bar*/

}


@media (max-width: 614px) {
    /*Mobile*/

}